{%load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>O.P.A.T</title>
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Nunito.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Quicksand.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Animation-Cards.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static '/assets/css/OcOrato---Login-form.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Separator-with-icon.css' %}">
</head>



